* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-family: "Lora", serif;
  font-family: "Merriweather", serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Work Sans", sans-serif;
}
:root {
  --font-size: 48px;
  --primary-color: #0b0223;
  --secondary-color: #8758f1;
  --third-color: #ff42a5;
  --btn-text-color: #ffffff;
  --btn-secondary-color: #4ec5f7;
  --text-color: #534c64;
}
.primary-btn {
  padding: 20px 40px;
  border: none;
  border-radius: 30px;
  color: #ffffff;
  background-color: #ff42a5;
}
.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 30px;
  min-height: 50px;
  background-color:floralwhite;
}
.link > ul {
  display: flex;
  gap: 18px;
}
ul > li {
  list-style: none;
  font-size: 0.7rem;
  font-family: none;
}
li > i {
  margin-left: 10px;
}
/* bannar start  */
.banner-content {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}
.banner-left > h2 {
  font-style: normal;
  font-weight: 600;
  font-size: var(--font-size);
}
.banner-left > h1 {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 95px;
  font-weight: 800;
  margin-bottom: 24px;
}
.dowlode-left-side > p,
.online > p,
.card-info > p,
.banner-left > p,
.gamer-right > p,
.gamer-right > h3 {
  color: var(--text-color);
  margin-bottom: 17px;
}

.button {
  display: flex;
  gap: 24px;
}
.banner-right > img {
  height: 500px;
  width: 400px;
}
/* banner end  */
/* we are gamer section start  */
.gamer {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  padding: 10px 150px 50px 80px;
  align-items: center;
  text-align: end;
  background-color: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 13.13%,
    rgba(255, 66, 165, 0.03) 87.94%
  );
}
.gamer-left > img {
  height: 400px;
  width: 500px;
}
.gamer-right {
  width: 520px;
}
.dowlode-left-side > h1,
.gamer-right > h2,
p,
button {
  margin-bottom: 20px;
}
.gamer-right > h2 {
  font-size: var(--font-size);
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* we are gamer section end  */

.card-container {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  width: 100%;
  margin-bottom: 400px;
}
.card-info {
  width: 342px;
  height: 400px;
  margin-top: 50px;
}
.card-info > img:hover {
  transform: scale(1.2);
  opacity: -2.7 rgb(55, 51, 51);
  border: 10px solid #f948b2;
  border-radius: 20px;
  background: #f948b2;
}
.card-info > p {
  margin-bottom: 20px;
}
.online > h2 {
  font-size: var(--font-size);
  margin-bottom: 15px;
}

.online > h2,
p {
  text-align: center;
}
.online {
  margin-bottom: 120px;
}
/* online section end  */
/* downlode section start  */
.downlode {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 200px;
  width: 100%;
  height: 50vh;
  margin-bottom: 350px;
}
.downlode-right-side > .background-img {
  width: 634.833px;
  height: 650px;
  border-radius: 8px;
  margin-top: 400px;
}
.downlode-right-side > .top-img {
  margin-top: -200px;
  padding: 40px;
  margin-left: -400px;
  margin-bottom: 300px;
}


/* downlode section end  */
.new-section{
  display: flex;
  justify-content: center;
}

/* responsiv mobile */
@media screen and (max-width: 576px) {
  .navigation {
    flex-direction: column;
    margin-bottom: 140px;
  }
  ul > li {
    margin-top: 20px;
  }

  .banner-content {
    width: 60%;
    padding-left: 80px;
    flex-direction: column;
  }
  .banner-left > h1 {
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 14px;
  }
  .banner-left > h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
  }
  .primary-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    background-color: #ff42a5;
  }
  .banner-right > img {
    height: 400px;
    width: 300px;
  }
  /* banner end  */
  /* gamer start */

  .gamer {
    flex-direction: column-reverse;
    margin-top: 270px;
    padding: 10px 20px 30px 40px;
  }

  .gamer-right > h2 {
    font-size: 30px;
  }
  .gamer-right > h2,
  p,
  button {
    margin-bottom: 10px;
  }
  .gamer-right {
    text-align: center;
  }
  .card-container {
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
  }
  .online {
    margin-top: 100px;
    padding: 20px 40px;
  }
  .card-info {
    width: 300px;
    height: 350px;
    margin-bottom: 60px;
  }
  .online > h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }
  .online > p {
    margin-bottom: 5px;
  }
  .online {
    margin-bottom: 50px;
  }

  /* downlode section  */
  .downlode {
    flex-direction: column;
    align-items: center;
    text-align: start;
    margin-top: 470px;
    width: 100%;
    height: 50vh;
    margin-left: 80px;
  }
  .downlode-left-side {
    margin-bottom: 10px;
   
  }
  .downlode-right-side > .background-img {
    width: 434.833px;
    height: 550px;
    border-radius: 8px;
    margin-top: 0px;
  }
  .downlode-right-side > .top-img {
    padding-left: 80px;
    margin-top: -150px;

    margin-left: -150px;
  }
  .dowlode-left-side {
    margin-top:  300px;
  }
}
/* responsiv tablet */
@media screen and (max-width: 576px) and (min-width: 900px) {
  .banner-content {
    width: 60%;
    flex-direction: column;
    gap: 40px;
  }
  .banner-left > h1 {
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 14px;
  }
  .gamer {
    gap: 50px;
    text-align: center;
  }
  .card-container {
    display: flex;
    justify-content: center;
    margin: 80px;
  }
  .card-info {
    width: 302px;
    height: 200px;
    margin-top: 50px;
  }
}
